# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project Specific
templates/*.docx
!templates/cv_template.docx
tests/.pytest_cache/
